.social-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333; /* Background color of the footer */
    padding: 10px 0; /* Adjust padding as needed */
    text-align: center;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
  }
  
  .social-icons a {
    color: white; /* Icon color */
    font-size: 1.5rem; /* Icon size */
    margin: 0 10px; /* Adjust margin between icons */
  }
  
  .social-icons a:hover {
    color: #ccc; /* Icon color on hover */
  }